<div class="container">
  <div class="row">
    <div class="col-6">

      <p>N°Evaluaciones tomadas {{evaluacionesRespondidas.length}}</p>

      <p>UltimaEvaluacion {{evaluacionesRespondidas[0].evaluacionTomadaInfo[0].nombre }}</p>

      <p>Evaluacion con mayor satisfaccion {{evaluacionesRespondidas[evaluacionesRespondidas.length]}}</p>

      <p>Evaluacion con menor satisfaccion {{evaluacionesRespondidas[0].evaluacionTomadaInfo[0].nombre }}</p>



    </div>

    <div class="col-6">

      <div class="selectEvaluaciones">
        <select (change)="seleccionarEvaluacion($event.target.value)"  name="" id="">
          <option value="{{ev.idEvaluacionRespondida}}"  *ngFor="let ev of evaluacionesRespondidas" >{{ev.evaluacionTomadaInfo[0].nombre}}</option>
        </select>
      </div>

      <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    </div>
  </div>
</div>
