<!--
<div class="evaluacionVer">
  <div class="evaluacionTitulo">
    <p class="evaluacionTitulo-texto">
      Evaluacion n°1213
    </p>
  </div>
  <div class="evaluacionInfo">
    <p class="evaluacionInfo-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium minima, nemo. Aliquam aspernatur consequatur cupiditate debitis deleniti dolorum esse, explicabo natus odit, provident recusandae repellendus reprehenderit similique, tempore temporibus ut.</p>
  </div>
  <div class="evaluacionAcciones">
    <button>Enviar</button>
    <button>Ver</button>
  </div>
</div>
-->

