div.modal{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: block;





}


div.contenido{
  background: white;
  max-width: 500px;
  margin: auto;
  text-align: center;
}
div.botones{
  align-content: space-between;
  position: fixed;
}

