<!--
<div class="card" (click)="activado = !activado">
  <div [ngClass]="activado ? 'card-body card-body-activado pinchado':'card-body'">
    <h5 class="card-title " title="Rut">{{rut}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"title="Nombre" >{{nombre}}</h6>
    <p class="card-text" title="apellido">{{apellido}}</p>
    <p class="card-text correo" title="correo">{{correo}}</p>
   <a href="#" class="card-link">{{tipoUsuario}}</a>
   <a href="#" class="card-link">{{correo}}</a>
  </div>
</div>

-->

<div class="contenedor">
  <div class="container">
    <div class="rut">
      <p class="rutTexto">{{rut}}</p>
    </div>
    <div class="info">
      <p class="infoTextoNombre">{{nombre}} {{apellido}}</p>
      <p class="infoTextoCorreo">{{correo}}</p>
    </div>

  </div>
</div>
