

<div class="container">
<h1 class="tituloVer">Buscar encuesta</h1>
  <div class="filtros">

    <div class="input-group mb-3 buscar">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
    </div>

  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Encuesta</th>
      <th scope="col">Fecha</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td>Encuesta Mayo</td>
      <td>23/06/2019</td>
      <td>70%</td>
      <td class="botonEliminar"><i class="fas fa-minus"></i></td>
      <td class="botonVer"><i class="far fa-eye"></i></td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td class="botonEliminar"><i class="fas fa-minus"></i></td>
      <td class="botonVer"><i class="far fa-eye"></i></td>

    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td class="botonEliminar"><i class="fas fa-minus"></i></td>
      <td class="botonVer"><i class="far fa-eye"></i></td>

    </tr>
    </tbody>

  </table>





</div>


