<div class="pregunta">
  <div class="pregunta-info">
    <div class="encabezado">
      <!--<p class="encabezado-texto">Consideras que tu supervisor no hace escucha a lo que le sugieres o comentas</p>-->
      <p class="encabezado-texto">{{preguntaTitulo}}</p>

    </div>
    <div class="declaracion">
      <p class="declaracion-texto">Seleccione la respuesta que se adapte a su satisfaccion</p>
    </div>
  </div>

  <div class="opcionesPregunta">
    <div class="opcionesPregunta0 ">
      <div class="referencia">
        <p class="referenciaTexto">
          Nunca
        </p>
      </div>
      <div
        (click)="seleccionarOpcion(0); pregunta1 = !pregunta1; pregunta2 = false; pregunta3 = false; pregunta4 = false; pregunta5 = false;"
        [ngClass]=" pregunta1 ?  'opcionPregunta0 opcionPregunta0Activado':'opcionPregunta0'   "></div>

    </div>
    <div class="opcionesPregunta25">
      <div class="referencia">
        <p class="referenciaTexto">
          Pocas veces
        </p>
      </div>
      <div
        (click)="seleccionarOpcion(25);pregunta2 = !pregunta2; pregunta1 = false; pregunta3 = false; pregunta4 = false; pregunta5 = false;"
        [ngClass]=" pregunta2 ?  'opcionPregunta25 opcionPregunta25Activado':'opcionPregunta25' "></div>


    </div>
    <div class="opcionesPregunta50">
      <div class="referencia">
        <p class="referenciaTexto">
          Algunas veces
        </p>
      </div>
      <div
        (click)="seleccionarOpcion(50);pregunta3 = !pregunta3; pregunta1 = false; pregunta2 = false; pregunta4 = false; pregunta5 = false;"
        class="opcionPregunta50"
        [ngClass]=" pregunta3 ?  'opcionPregunta50 opcionPregunta50Activado':'opcionPregunta50' "></div>


    </div>
    <div class="opcionesPregunta75">
      <div class="referencia">
        <p class="referenciaTexto">
          La mayoria del tiempo
        </p>
      </div>
      <div
        (click)="seleccionarOpcion(75);pregunta4 = !pregunta4; pregunta1 = false; pregunta2 = false; pregunta3 = false; pregunta5 = false;"
        class="opcionPregunta75"
        [ngClass]=" pregunta4 ?  'opcionPregunta75 opcionPregunta75Activado':'opcionPregunta75'"></div>


    </div>
    <div class="opcionesPregunta100">
      <div class="referencia">
        <p class="referenciaTexto">
          Siempre
        </p>
      </div>
      <div
        (click)="seleccionarOpcion(100);pregunta5 = !pregunta5; pregunta1 = false; pregunta2 = false; pregunta3 = false; pregunta4 = false;"
        class="opcionPregunta100"
        [ngClass]=" pregunta5 ?  'opcionPregunta100 opcionPregunta100Activado':'opcionPregunta100' "></div>

    </div>

  </div>




</div>
