<!--
<div *ngIf="encuestaDisponible != ''" class="container">


  <div class="modalEnviar" *ngIf="modalConfirmacion">
    <div class="contenidoModal">
      <div class="modalTitulo">
        <h1 class="modalTituloTexto">¿Estas seguro que deseas enviar la evaluación?</h1>
      </div>
      <div class="botones">
        <button class="btn btn-block btn-success" (click)="enviarEvaluacion();respondida = false;">Enviar</button>
        <button class="btn btn-block btn-danger" (click)="modalConfirmacion=false;">Cancelar</button>
      </div>
    </div>

  </div>


  <div class="encuesta mt-3">
    <app-pregunta *ngFor="let pregunta of preguntasDesdeEvaluacion" preguntaTitulo="{{pregunta.titulo}}"></app-pregunta>
  </div>
  <button [disabled]="listaPreguntas.length == 0" (click)="modalConfirmacion=true;" style="width: 80%;margin: auto"
     class="text-center btn btn-block btn-primary mt-3">Enviar</button>
</div>
<div *ngIf="respondida ==false " class="EntradaNegra">
  <div class="contenidoEntredaNegra">
    <h1 class="infoEntradaNegra-texto" *ngIf="!(encuestaDisponible == '' || encuestaDisponible == undefined)">Tienes {{encuestaDisponible == '' || encuestaDisponible == undefined ? '0':encuestaDisponible.length}} evaluacion{{encuestaDisponible.length == 1 ? '':'es'}} disponible para contestar</h1>
    <h1 class="infoEntradaNegra-texto " *ngIf="encuestaDisponible == '' || encuestaDisponible == undefined">No posees evaluaciones disponibles</h1>
    <button *ngFor="let ev of encuestaDisponible"  (click)="traerEvaluacion(ev);respondida = true;"
            class="btn btn-block btn-success">Empezar evaluacion {{ev}}
    </button>
  </div>
</div>
-->

<div class="modalEnviar" *ngIf="modalConfirmacion">
  <div class="contenidoModal">
    <div class="modalTitulo">
      <h1 class="modalTituloTexto">¿Estas seguro que deseas enviar la evaluación?</h1>
    </div>
    <div class="botones mt-4" style="display: flex;align-items: center;justify-content: space-around">
      <button class="btn btn-xl btn-danger" (click)="modalConfirmacion=false;">Cancelar</button>
      <button class="btn btn-xl btn-success" (click)="enviarEvaluacion();respondida = false;">Enviar</button>
    </div>
  </div>

</div>


<!-- Header -->
<header class="masthead d-flex" style="padding-top: 0 ;height: 100vh;">
  <a style="position:absolute;font-size: 130%;text-shadow: 0 2px 3px black;color:white;font-weight: bolder;cursor: pointer" class="nav-link" (click)="salir()">Salir</a>

  <!--Vista en caso de no tener encuestas-->

  <div *ngIf="encuestaDisponible == '' || encuestaDisponible == undefined" class="container text-center my-auto">
    <img src="https://www.dt.gob.cl/portal/1626/channels-911_logo_DT.png">
    <h1 class="mb-1" style="color:white;text-shadow: 0px 2px 3px black;">No tienes encuestas disponibles</h1>

    <h3 class="mb-5">
      <em></em>
    </h3>


    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about" routerLink="/evaluaciones/ver">Ver Respondidas</a>

  </div>

  <!--Vista en caso de tener encuesta dispnible-->
  <div *ngIf="!(encuestaDisponible == '' || encuestaDisponible == undefined)" class="container text-center my-auto">

    <!--PREGUNTAS-->

    <div *ngIf="!(preguntasDesdeEvaluacion.length == 0)" class="contenedorDePreguntas">

      <p class="numeroDePreguntasTexto">
        Preguntas {{listaPreguntas.length + "/"+ preguntasDesdeEvaluacion.length}}
      </p>

      <div class="preguntasContenedor mt-3">
        <app-pregunta *ngFor="let pregunta of preguntasDesdeEvaluacion"
                      preguntaTitulo="{{pregunta.titulo}}"

                      preguntaFinal="{{ultimaPregunta}}"
        ></app-pregunta>

      </div>
    </div>


    <!--ACCEDER A LAS PREGUNTAS-->

    <img *ngIf="preguntasDesdeEvaluacion.length == 0" src="https://www.dt.gob.cl/portal/1626/channels-911_logo_DT.png">
    <h1 *ngIf="preguntasDesdeEvaluacion.length == 0" class="mb-1" style="color:white;text-shadow: 0px 2px 3px black;">
      Encuesta disponible </h1>
    <h3 *ngIf="preguntasDesdeEvaluacion.length == 0" class="mb-5">
      <em></em>
    </h3>
    <a *ngIf="preguntasDesdeEvaluacion.length == 0" class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
       (click)="traerEvaluacion(encuestaDisponible[0])">Comenzar encuesta</a>
    <!---->
    <div class="botonesPreguntas">

      <!--   <button *ngIf="!(preguntasDesdeEvaluacion.length == 0)" class="btn btn-primary btn-xl mt-3" href="#"
                 (click)="preguntasDesdeEvaluacion = []"> Atras
         </button>-->

      <button *ngIf="!(preguntasDesdeEvaluacion.length == 0)" [disabled]="listaPreguntas.length == 0"
              (click)="modalConfirmacion=true;"
              class="btn btn-primary btn-xl mt-3">Enviar
      </button>
    </div>
    <!---->

  </div>
  <!--FIN Vista en caso de tener encuesta dispnible-->


  <div class="overlay"></div>
</header>



