<!--<div class="container">

  <div class="evaluaciones">
    <h1 class="evaluaciones-texto">
      Evaluaciones
    </h1>
  </div>


  <form class="form-signin" >
   &lt;!&ndash; <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    &ndash;&gt;&lt;!&ndash;<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>&ndash;&gt;

    <div class="usuario">
      <label for="usuarioo" class="sr-only">Usuario</label>

      <input name="usuario" ngModel #usuario="ngModel" value="olii" type="text" class="form-control" id="usuarioo" aria-describedby="usuario ayuda" placeholder="Usuario">

    </div>

    <div class="clave">
  <label for="inputPassword" class="sr-only">Clave</label>
  <input name="clave" ngModel #clave="ngModel" type="password"  id="inputPassword" class="form-control" placeholder="Clave" required>

</div>
   &lt;!&ndash; <div class="checkbox mb-3">
     &lt;!&ndash; <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>&ndash;&gt;
    </div>&ndash;&gt;
    <button class="btn btn-lg btn-primary btn-block" >Iniciar Sesión</button>
    &lt;!&ndash;<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>&ndash;&gt;
  </form>

</div>-->

<div class="limiter">
  <div class="container-login100" >
    <div class="wrap-login100">
      <form class="login100-form validate-form" #formularioLogin="ngForm" (ngSubmit)="login(formularioLogin)"
            novalidate>
					<span class="login100-form-title p-b-26">
						Evaluaciones
					</span>
        <span class="login100-form-title p-b-48">
						<!--<i class="zmdi zmdi-font"></i>-->
          <img width="300" src="https://www.dt.gob.cl/portal/1626/channels-912_imagen_portada.thumb_i652x340.jpg">
        </span>

        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
          <input name="usuario" ngModel #usuario="ngModel" class="input100" type="text">
          <span class="focus-input100" data-placeholder="Usuario"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">

          <input name="clave" ngModel #clave="ngModel" class="input100" type="password">
          <span class="focus-input100" data-placeholder="Clave"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Login
            </button>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>
