<div class="container">
  <div [ng2-loading]="showSpinner" class="contenedor">

    <!-- <div class="barraBusqueda">
       <div class="input-group mb-3 mt-3">
         <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="button-addon2">
         <div class="input-group-append">
           <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
         </div>
       </div>
     </div>-->
    <h1 class="text-center">Encuestas</h1>
    <div class="row">

      <div class="col-sm-3">
        <i class="fa fa-retweet" aria-hidden="true" style="cursor: pointer" (click)="obtenerEncuestas()"></i>
        <div class="listaUsuarios">
          <ul *ngFor="let e of encuestasObtenidas">
            <!--<li *ngFor="let p of transformar(e)" >
              {{p.nombre}} : {{p.valor}}
              </li>-->
            <li (click)="seleccionarEncuesta(e)">{{e.nombre}}</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-9 ">
        <i class="fa fa-broom" style="cursor: pointer" aria-hidden="true"></i>

        <div class="form-row">
          <div class="col-12 mb-3">
            <label for="nombre">Nombre</label>
            <input id="nombre" [(ngModel)]="encuestaNombre" type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col-6 mb-3">
            <label for="fechaInicio">Fecha Inicio</label>
            <input id="fechaInicio" [(ngModel)]="encuestaInicio" type="text" class="form-control"
                   placeholder="Fecha Inicio">
          </div>
          <div class="col-6 mb-3">
            <label for="fechaFin">Fecha Fin</label>
            <input id="fechaFin" [(ngModel)]="encuestaFin" type="text" class="form-control" placeholder="Fecha Fin">
          </div>
          <div  class="col-12 mb-3">
            <i (click)="empujarNuevaPregunta()" class="fa fa-plus"></i>
          </div>
          <div id="d{{p.id}}" class="col-12 mb-3" *ngFor="let p of encuestaPreguntas">
            <button id="btn{{p.id}}" (click)="borrar(p.id)">borrar</button>
            <label id="label{{p.id}}"  >Pregunta</label>
            <input name="pregunta" id="input{{p.id}}" [value]="p.titulo" type="text" class="form-control" placeholder="Pregunta">


          </div>


          <!--   <div class="col-6 mb-3">
               <label for="fechaInicio">Fecha Inicio</label>
               <input id="fechaInicio" [(ngModel)]="encuestaInicio" type="text" class="form-control"
                      placeholder="Fecha Inicio">
             </div>
             <div class="col-6 mb-3">
               <label for="fechaFin">Fecha Fin</label>
               <input id="fechaFin" [(ngModel)]="encuestaFin" type="text" class="form-control" placeholder="Fecha Fin">
             </div>-->


          <div class="col-12" style="display: flex;justify-content: space-between">
            <button [disabled]="encuestaNombre==''" (click)="agregar()" class="btn btn-xl btn-success">Agregar</button>
            <button [disabled]="encuestaNombre==''" (click)="editar()" class="btn btn-xl btn-primary">Editar</button>
            <button [disabled]="encuestaNombre==''" (click)="eliminar()" class="btn btn-xl btn-danger">Eliminar</button>
          </div>


        </div>

      </div>
    </div>

  </div>
</div>
