<nav class="nav flex-column">
  <a *ngIf="!isAdmin" class="nav-link" routerLink="ingreso">Ingreso <span class="badge badge-secondary">1</span></a>
  <a *ngIf="!isAdmin" class="nav-link" routerLink="ver">Ver</a>
  <a *ngIf="isAdmin" class="nav-link" routerLink="administracion/ingreso">Ingreso <!--<span class="badge badge-secondary">1</span>--></a>
  <a *ngIf="isAdmin" class="nav-link" routerLink="administracion/ver">Ver</a>
  <a *ngIf="isAdmin" class="nav-link" routerLink="administracion/usuarios">Usuarios</a>


</nav>
